.about-me {
  min-height: 100vh;
  width: 100%;
  background: rgba(16,82,111, 1);
  color: white;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-family: $font;
  font-weight: 200;

  .about-me-title {
    margin-top: 20px;
  	font-size: 40pt;
  	font-weight: 200;
  	text-align: center;
  	width: 100%;		
  }
  .presentation {
  	width: 80%;
  	padding-left: 10%;
  	text-align: center;
  	font-family: $font;
  	font-size: 10pt;
  	line-height: 1.5;
  	text-align: center;
    margin-bottom: 20px;
  	@media (min-width: 768px) {
  	  width: 50%;
  	  margin-left: 15%;
  	}
    @media (max-width: 768px) {
      font-size: 9pt;
      margin-bottom: 30px;
    }
  	.img-about {
  	  @media (max-width: 450px) {
  	  	width: 100px;
  	  }
  	  @media (min-width:451px) {
  	  	width: 150px;
  	  }
      border-radius: 50%;
      margin-bottom: 0px;
  	}
  }
}

/*
  Social
*/
.fa  {
  font-size: 50pt;
}
i {
  font-size: 9pt;
}
.social {
  @media(max-width:767px) {
    width: 100%;
    margin-left: 0%;
  }
  display: flex;
  flex-wrap: wrap;
  font-size: 18pt;
  font-family: $font;
  width: 50%;
  margin-left: 25%;
}

.social-message {
  width: 100%;
  font-size: 10pt;
  margin-top: 50px;
}

.social-section {
  width: 33%;
  text-align: center;
  color: white;
  font-size: 100pt;
  margin-top: -60px;
  a {
    height: 50px;    
  }

  i.fa.fa-twitter-square {
    font-size: 35pt;
  }
  i.fa.fa-github-square {
    font-size: 35pt;
  }
  i.fa.fa-linkedin-square {
    font-size: 35pt;
  }
}

i.fa.fa-twitter-square:hover {
  @media(min-width: 768px) {
    color: $paleblue;
    transition: 0.2s color ease-in;
    cursor: pointer;
  }
}
i.fa.fa-github-square:hover {
  @extend i.fa.fa-twitter-square:hover;
}
i.fa.fa-linkedin-square:hover {
  @extend i.fa.fa-twitter-square:hover;
}





