.about-me {
	min-height: 100%;
	width: 100%;
	background: $paleblue;
	color: white;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	font-family: $font;
	font-weight: 200;
	font-size: 140%;


	.presentation {
		width: 80%;
		padding-left: 10%;
		text-align: center;
		font-family: $font;
		font-size: 75%;
		line-height: 1.5;
		text-align: center;
		@media (min-width: 768px) {
			width: 50%;
			margin-left: 15%;
		}

		.img-about {
			@media (max-width: 450px) {
				width: 100px;
			}
			@media (min-width:451px) {
				width: 150px;
			}
			
		}
	}
	.contact-me {
		background: rgba(255, 255, 255, .5);
		border-radius: 10px;
		font-size: 80%;
		margin-left: 18%;
		padding: 2% 2% 5% 2%;
		width: 60%;
		margin-top: 5%;
		@media (max-width: 450px) {
			width: 80%;
			margin-left: 10%;
		}
		.contact-title {
			font-size: 200%;
			color: $paleblue;
			font-weight: 400;
		}
		input {
			border-radius: 5px;
			border-color: white;
			width: 90%;
			font-size: 90%;
			font-family: $font;
			line-height: 1.6;
			@media (min-width:940px) {
				width: 50%;
			}
		}
		textarea {
			border-radius: 5px;
			border-color: white;
			height: 80px;	
			width: 90%;
			font-size: 100%;
			font-family: $font;	
			line-height: 1.6;
			@media (min-width:940px) {
				width: 50%;
			}
		}
		.form-send {
			background-color: white;
			font-family: $font;
			color: $paleblue;
			font-size: 100%;
			cursor: pointer;
			margin-top: 5%;
		}
		label {
			cursor: pointer;
			font-size: 110%;
		}
	}	
}
.about-me footer{
	font-size: 70%;

}