/*
  Arrows
*/

.arrow-down {
  color: $paleblue;
  font-size: 60pt;
  width: 100px;
  height: 100%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 43%;
  top: 75%;
}
i.fa.fa-angle-down:hover {
  cursor: pointer;
  color: $darkblue;
  transition: color 0.2s ease-in;
}

.arrow-up {
  color: white;
  font-size: 60pt;
  width: 100%;
  text-align: center;
  height: 60px;
}
i.fa.fa-angle-up:hover {
  cursor: pointer;
  color: $paleblue;
  transition: color 0.2s ease-in;
}