#contact {
  display: flex;
  flex-wrap: wrap;
  background-color: lightblue;
  min-height: 100vh;
}

/*
  Social
*/
.fa  {
  font-size: 50pt;
}
i {
  font-size: 9pt;
}
.social {
  @media(max-width:767px) {
    display: block;
  	text-align: center;
  	width: 100%;
    margin-left: 0%;
  }
  display: flex;
  font-size: 18pt;
  font-family: $font;
  width: 50%;
  margin-left: 25%;
}
.social-section {
  @media(max-width:767px){
    margin-left: 0;
    width: 100%;
  }
  width: 50%;
	text-align: center;
	color: white;
  font-size: 100pt;

  i.fa.fa-twitter-square {
    font-size: 60pt;
  }
  i.fa.fa-github-square {
    font-size: 60pt;
  }
  i.fa.fa-linkedin-square {
    font-size: 60pt;
  }
}

i.fa.fa-twitter-square:hover {
  @media(min-width: 768px) {
    color: $darkblue;
    transition: 0.2s color ease-in-out;
    cursor: pointer;
  }
}
i.fa.fa-github-square:hover {
  @extend i.fa.fa-twitter-square:hover;
}
i.fa.fa-linkedin-square:hover {
  @extend i.fa.fa-twitter-square:hover;
}



/*
  Footer
*/
footer {
  width: 100%;
  font-family: $font;
  text-align: center;
  font-size: 9pt;
  color: $darkblue;
  padding-bottom: 20px;
  background-color: lightblue;
}


