#contact {
  display: flex;
  flex-wrap: wrap;
  background-color: lightblue;
}
.contact-section-title {
  font-family: $font;
  font-size: 40pt;
  font-weight: 200;
  text-align: center;
  width: 100%;
  color: $darkblue;	
}
.contact-me {
  background: $paleblue;
  border-radius: 10px;
  font-size: 11pt;
  padding: 2% 2% 5% 2%;
  width: 30%;
  margin-top: 5%;
  margin-left: 10%;
  @media (max-width: 450px) {
    width: 80%;
    margin-left: 10%;
  }

  .contact-title {
    font-size: 200%;
    color: $paleblue;
    font-weight: 400;
  }
  input {
    border-radius: 5px;
    border-color: white;
    width: 90%;
    font-size: 90%;
    font-family: $font;
    line-height: 1.6;
  }
  textarea {
    border-radius: 5px;
    border-color: white;
    height: 80px;	
    width: 90%;
    font-size: 100%;
    font-family: $font;	
    line-height: 1.6;
  }
  .form-send {
    background-color: white;
    font-family: $font; 
    color: $darkblue;
    font-size: 14pt;
    cursor: pointer;
    margin-top: 5%;
  }
  label {
    font-family: $font;
    font-weight: 400;
    color: white;
  	cursor: pointer;
  	font-size: 13pt;
  }
}
/*
  Social
*/
.social {

  @media(max-width:450px) {
  	text-align: center;
  	margin: 0;
  	width: 30%;
  	font-size: 250%;
  	padding-top: 10%;
  	padding-left: 8%;
  }
  font-size: 18pt;
  font-family: $font;
  margin-top: 6%;
  height: 100%;
  width: 30%;

  .title-twitter {
    font-size: 19pt;
    font-weight: 400;
    margin-bottom: 20px;
    color: $darkblue;
  }
  .twitter {
  	width: 100%;
  	margin-left: 50%;
  	text-align: center;
  	color: white;
  }
  .fa  {
  	font-size: 50pt;
  }
  .title-git {
    @extend .title-twitter;
  }
  .github {
  	width: 100%;
  	text-align: center;
  	margin-left: 50%;
  	padding-top: 25%;
  	color: white;
  }
	
  @media(min-width:768px){
  	.twitter:hover{
      .fa-twitter-square {
      	animation: swing .6s ease-in-out;
      }
    }
    .github:hover {
      .fa-github-square {
      	animation: swing .6s ease-in-out;
      }
    }			
  }
}
.back-top {
  width: 100%;
  font-family: $font;
  font-weight: 200;
  font-size: 18pt;
  text-align: center;
  color: white;
  padding-bottom: 40px;
}