#cvresume {
  min-height: 100vh;
  width: 100%;
  text-align: center;
  font-family: $font;
  color: $darkblue;
  background: lightblue;
}	
.cvresume-title {
  @media(max-width:767px){
    font-size: 27pt;
  }
	font-size: 40pt;
	padding-bottom: 50px;
	padding-top: 150px;
}
.cvresume-link {
  @media(max-width:767px){
    font-size: 18pt;
  }
  text-decoration: underline;
	font-size: 20pt;
	font-weight: 100;
	cursor: pointer;
  padding-bottom: 10px;
}
.cvresume-link:hover {
	color: orange;
  transition: color .4s ease-in-out;
}

.cvresume-ondev {
  font-size: 20pt;
  font-weight: 100;
  margin-bottom: 130px;  
}
