/*
  Animations
*/

@keyframes  appear {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes  changeColor {
  0% {
    color: $darkblue;
    opacity: 1;
  }
  30% {
    color: $darkblue;
    opacity: 1;
  }
  100% {
    color: white;
    opacity: 1;
  }
}

/*
  Frontpage
*/

.frontpage {
  min-height: 100vh;
  width: 100%;
  background: url('../css/background2.jpg') no-repeat center;
  color: white;
  display: flex;
  flex-wrap: wrap;
  animation: appear 5s ease-in;
  text-align: center;
}

/*
  Head
*/

.head {
  text-align: center;
  width: 100%;
  color: white;
  top: 35%;
  position: absolute;
  
  @media (max-width:450px){

  }
}

.title-name {
  animation: changeColor 3s ease-in forwards;
  @media (max-width:450px){
    font-size: 30pt;
    font-weight: 200;
  }
	@media (min-width:451px) and (max-width:767px){
	  font-size: 35pt;
	  font-weight: 200;
	}
  @media(min-width:768px) and (max-width:900px){
    font-size: 45pt;
  }
	margin: 0;
	font-size: 50pt;
	font-family: $font;
	font-weight: 100;
	white-space: nowrap;

}

.title-sub {
  animation: changeColor 3s ease-in forwards;
  @media (max-width:450px){
    font-size: 19pt;
    font-weight: 100;
  }
  @media (min-width: 451px) and (max-width:767px){
    font-size: 20pt;
    font-weight: 100;
  }
  @media(min-width:768px) and (max-width:900px){
    font-size: 25pt;
  }
  font-size: 30pt;
  font-family: $font;
  font-weight: 100;
  letter-spacing: 2px;
  white-space: nowrap;
  margin-top: 30px;
  margin-bottom: 10px;
}


/*
  Menu
*/
@import 'menu';






