/*
  Animations
*/

@keyframes  appear {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes  changeColor {
  0% {
    color: $darkblue;
  }
  30% {
    color: $darkblue;
  }
  100% {
    color: white;
  }
}

/*
  Frontpage
*/

.frontpage {
  min-height: 100vh;
  width: 100%;
  @media (max-width: 450px) {
    background: linear-gradient($paleblue, transparent 40%),
    linear-gradient($paleblue, transparent 20%),
				url('../css/background2.jpg') no-repeat center;	
	}
  @media (min-width: 451px) and (max-width:1281px) {
  	background: linear-gradient($paleblue, transparent 20%),
        linear-gradient($paleblue, transparent 20%),
				url('../css/background2.jpg') no-repeat center;
  }
  @media (min-width: 1282px) {
  	background: linear-gradient($paleblue, transparent 20%), 
                linear-gradient($paleblue, transparent 20%),
                linear-gradient($paleblue, transparent 25%),
				        url('../css/background2.jpg') no-repeat center;	
  }
	
  background: $paleblue;
  color: white;
  display: flex;
  flex-wrap: wrap;
  animation: appear 5s ease-in-out;
  text-align: center;
}

/*
  Head
*/

.head {

  @media(max-width:767px) {
    color: $darkblue;
  }
  text-align: center;
  width: 100%;
  margin-top: -490px;
  position: absolute;
  color: white;
  animation: changeColor 3s ease-in-out forwards;
}

.title-name {
	@media (max-width:450px){
	  font-size: 30pt;
	  padding-top: 5%;
	}
	@media (min-width:451px) and (max-width:767px){
	  font-size: 40pt;
	  font-weight: 200;
	}
  @media(min-width:768px) and (max-width:1025px){
    font-size: 50pt;
  }
	margin: 0;
	font-size: 60pt;
	font-family: $font;
	font-weight: 400;
	white-space: nowrap;

}

.title-sub {
	@media (max-width:450px){
    font-size: 18pt;
  }
  @media (min-width:451px) and (max-width:767px){
    font-size: 30pt;
    font-weight: 100;
  }
  @media(min-width:768px) and (max-width:1025px){
    font-size: 35pt;
  }
  font-size: 35pt;
  font-family: $font;
  font-weight: 400;
  letter-spacing: 2px;
  white-space: nowrap;
  margin-top: 30px;
  margin-bottom: 10px;
}	

.arrow-down-fp {
  width: 100%;
  padding-top: 400px;
}


/*
  Menu
*/
@import 'menu';






