/*
  Animations
*/

@keyframes  appear {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes  changeColor {
  0% {
    color: $darkblue;
  }
  30% {
    color: $darkblue;
  }
  100% {
    color: white;
  }
}

/*
  Frontpage
*/

.frontpage {
  min-height: 100vh;
  width: 100%;
  @media (max-width: 450px) {
    background: linear-gradient($paleblue, transparent 20%),
    linear-gradient($paleblue, transparent 20%),
				url('../css/background2.jpg') no-repeat center;	
	}
  @media (min-width: 451px) and (max-width:1281px) {
  	background: linear-gradient($paleblue, transparent 20%),
        linear-gradient($paleblue, transparent 20%),
				url('../css/background2.jpg') no-repeat center;
  }
  @media (min-width: 1282px) {
  	background: linear-gradient($paleblue, transparent 20%), 
                linear-gradient($paleblue, transparent 20%),
                linear-gradient($paleblue, transparent 25%),
				        url('../css/background2.jpg') no-repeat center;	
  }
	
  background: $paleblue;
  color: white;
  display: flex;
  flex-wrap: wrap;
  animation: appear 5s ease-in-out;
  text-align: center;
}

/*
  Head
*/

.head {
  text-align: center;
  width: 100%;
  color: white;
  margin-top: 90px;
  animation: changeColor 3s ease-in-out forwards;
  @media (max-width:450px){

  }
}

.title-name {
  @media (max-width:450px){
    font-size: 30pt;
    font-weight: 200;
  }
	@media (min-width:451px) and (max-width:767px){
	  font-size: 35pt;
	  font-weight: 200;
	}
  @media(min-width:768px) and (max-width:900px){
    font-size: 45pt;
  }
	margin: 0;
	font-size: 50pt;
	font-family: $font;
	font-weight: 100;
	white-space: nowrap;

}

.title-sub {
  @media (max-width:450px){
    font-size: 19pt;
    font-weight: 100;
  }
  @media (min-width: 451px) and (max-width:767px){
    font-size: 20pt;
    font-weight: 100;
  }
  @media(min-width:768px) and (max-width:900px){
    font-size: 25pt;
  }
  font-size: 30pt;
  font-family: $font;
  font-weight: 100;
  letter-spacing: 2px;
  white-space: nowrap;
  margin-top: 30px;
  margin-bottom: 10px;
}	

.arrow-down-fp {
  margin-bottom: -100px;
  margin-left: auto;
  margin-right: auto;
}


/*
  Menu
*/
@import 'menu';






