.hamburger {
	width: 100%;
	text-align: right;
	position: relative;
  @media (min-width: 768px){
    display: none;
  }
}
i.fa.fa-bars {
	font-size: 30pt;
	width: 30px;
	margin-left: auto;
	margin-right: 30px;
	margin-top: 10px;
	display: block;
}

i.fa.fa-times {
	font-size: 30pt;
	width: 30px;
	margin-left: auto;
	margin-right: 30px;
	margin-top: 10px;
  margin-bottom: 10px;
	display: none;
}

.appear {
	animation: appear 0.3s ease-in-out forwards;
	display: block !important;
}

.disappear {
	animation: disappear 0.3s ease-in-out forwards;
	display: none !important;
}

@keyframes  appear {
  0% {
  	opacity: 0;
  }
  30% {
  	opacity: 0.4;
  }
  100% {
  	opacity: 1;
  	
  }
}
@keyframes  disappear {
  0% {
  	opacity: 1;
  }
  30% {
  	opacity: 0.4;
  }
  100% {
  	opacity: 0;
  	
  }
}