.skills {
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  background: rgba(128, 128, 128, 0.2);
  color: white;
  padding-bottom: 100px;
  font-family: $font;
}
.title-section-skills {
	color: $darkblue;
	font-family: $font;
	font-size: 40pt;
	font-weight: 200;
	text-align: center;
	width: 100%;
  background-color: transparent;
}
.container-skills {
  display:flex;
  margin-top: 30px;
  width: 100%;
  height: 400px;
  overflow: hidden;
  overflow-y: auto;
  background-color: transparent;
}
.container-skills::-webkit-scrollbar {
  display: none;
}

.skill-list {		
	text-align: center;
	color: $darkblue;
  width: 100%;

}


.skillhtml,
.skilljs,
.skillreact {
  @media (max-width: 767px){
    width: 80%;
    margin-left: 10%;
  }
  display: flex;
  flex-wrap: wrap;
  border: solid 0px $darkblue;
  text-align: center;
  width: 60%;
  margin-left: 20%;
  height: 400px;
}
.skill-img {
  width: 30%;
  margin: 0;
  padding-bottom:5%;
  @media (max-width:767px){
    width: 30%;
  }
}

.skill-details {
  width: 70%;
}

.skill-title {
  font-weight: 400;
  font-size: 28pt;
  margin:2%;
  line-height: 1.7;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
  @media (max-width:767px){
  	font-size: 22pt;
  	font-weight: 400;
  }
  @media(min-width:768px) and (max-width:1024px){
  	font-size: 22pt;
  }
}



.keywords {
  line-height: 1.5;
  width: 100%;
}	
