/*
  SASS Variables
*/
@import 'variables';
@import 'mixins';
/*
  General
*/

html,
body,
#main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
a, nav a, button {
  min-height: 48px !important;
  min-width: 48px;
}
img,
a,
embed,
object,
video {
  max-width: 100%;
}
a {
  display: inline-block;
  &:link {
  	text-decoration: none;
  	color: white;
  }
  &:visited {
  	text-decoration: none;
  	color: white;
  }
  &:hover {
  	@media (min-width:768px){

  	}
  	text-decoration: none;
  }
}

/*
  Arrows
*/

.arrow-down {
  color: $paleblue;
  font-size: 60pt;
  width: 10%;
  margin-left: 45%;
  cursor: pointer;
  text-align: center;
}
.arrow-down:hover {
  color: $darkblue;
  transition: color 0.3s;
}

.arrow-up {
  color: $paleblue;
  font-size: 60pt;
  width: 10%;
  margin-left: 45%;
  cursor: pointer;
  text-align: center;
}
.arrow-up:hover {
  color: $darkblue;
  transition: color 0.3s;
}


/*
  Footer
*/
footer {
  width: 100%;
  font-family: $font;
  text-align: center;
  font-size: 13pt;
  color: $darkblue;
  padding-bottom: 20px;
  background-color: lightblue;
}

/*
  Imports
*/
@import 'front-page';
@import 'work';
@import 'skills';
@import 'cvresume';
@import 'about-me';
@import 'contact';
