/*
  SASS Variables
*/
@import 'variables';
@import 'mixins';
/*
  General
*/

html,
body,
#main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
a, nav a, button {
  min-height: 48px !important;
  min-width: 48px;
}
img,
a,
embed,
object,
video {
  max-width: 100%;
}
a {
  display: inline-block;
  &:link {
  	text-decoration: none;
  	color: white;
  }
  &:visited {
  	text-decoration: none;
  	color: white;
  }
  &:hover {
  	@media (min-width:768px){

  	}
  	text-decoration: none;
  }
}



/*
  Imports
*/
@import 'arrows';
@import 'front-page';
@import 'work';
@import 'skills';
@import 'cvresume';
@import 'about-me';
@import 'contact';
