.work {
  width: 100%;
  max-height: 100%;
  background-color: white;
  color: $paleblue;
  display: flex;
  flex-wrap: wrap;
  font-family: $font;
  font-weight: 100;
}
.title-section-work {
	font-family: $font;
	font-size: 30pt;
	font-weight: 200;
	text-align: center;
	width: 100%;
  background: white;
}
.work-list {
  background: white;
	width: 900px;
	margin-left: auto;
  margin-right: auto;
	margin-top: 40px;
	text-align: center;
	@media(max-width:450px){
	  width: 70%;
    margin-left: 15%;
	}
}
.work-item {
  width: 30%;
  margin: 1%;
  display: inline-block;
  font-size: 12pt;
  font-weight: 400;
  padding-top: 2%;
  border: 1px solid white;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: inset 0px 0px 20px 1px grey;
  @media(max-width:450px){
  	font-size: 12pt;
    width: 99%;
    margin: 1% 0 1% 0;
  }
  @media (min-width: 451px) and (max-width: 580px){
    width: 47%;
  }
  @media(min-width:451px) and (max-width: 767px){
    font-size: 10pt;
  }
}
.work-item:hover {    
  @media(min-width:768px){
    background-color: rgba(255, 255, 255, 0.7);
    color: $darkblue;
    box-shadow: inset 0px 0px 8px 1px grey;
    transition: all .3s ease-out;       
  }
  .button-work {
    opacity: 1;
    transition: opacity .5s ease-in-out;
  }
}

.button-work {
	@media(max-width:767px){
    padding-top: 30px;
		opacity: 1;
    font-size: 8pt;
    width: 50%
	}
  display: inline-block;
	font-size: 12pt;
  font-weight: 200;
	opacity: 0;
	z-index: 1000;
	background-color: $darkblue;
	width: 50%;
	color: white;
	padding-top: 3%;
  border-radius: 15px;
  padding-top:20px;
}
.button-work:hover {
	@media(min-width:768px){
	  background-color: red;
	  color: $darkblue;
	  transition: all 5s ease-in-out;
	}
}

.work-img {
  @media (max-width:450px){
  	max-width: 40%;
  }
  @media (min-width:451px) and (max-width:767px){
  	max-width: 100px;
  }
  @media (min-width:768px) and (max-width:1024px){
  	width: 130px;
  }
  @media(min-width:1025px){
  	width: 130px;
  }
}

.showmore {
  max-height: 100%;
}

.project-background {
  margin-top: 30px;
  height: 100vh;
  width: 100%;
  background-color: white;
  display: none;
}
.project-container {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(128, 128, 128, 0.1);
}
.title-project {
  margin-left: 10%;
  margin-right: 0;
  padding-top: 60px;
  width: 60%;
  font-size: 30pt;
  font-weight: 200;
  height: 30px;
}
.project-img {
  width: 20%;
  margin-top: 40px;
  height: 140px;
}
.closing-details {
  width: 5%;
  padding-left: 40px;
  padding-top: 5px;
  font-weight: 400;
  font-size: 20pt;
  height: 30px;
}
.closing-details:hover {
  cursor: pointer;
}
.project-description {
  width: 80%;
  margin-left: 10%;
}
.project-page {
  width: 40%;
  margin-left: 10%;
}
.link-page {
  text-decoration: underline !important;
  color: $darkblue !important;
}
.project-url {
  width: 40%;
}
.link-url {
  @extend .link-page;
}
